@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2 text-warning fst-italic fw-bold">Welcome to Pizza Ordering App</h1>
    <div>
        <h3 class="text-success fst-italic">Start placing your order...</h3>
        <form method="post">
            <button type="submit" class="btn btn-primary">Start your Order!!</button>
        </form>
    </div>
</div>
